<!-- app/views/manage/users.html.erb -->

<h1 class="text-center mt-4 mb-4">User Management</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate through each user and show the related information for it -->
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td> 
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Delete', manage_delete_user_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container text-center mt-4">
  <%= link_to 'Add User', manage_add_user_path, class: 'btn btn-success' %>
</div>

